<!--forgot-password.html-->
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>

<head>
    <meta charset="utf-8">
    <title>Forgot password</title>
</head>
<body>
    <h2>Forgot password</h2>

    <!--Display success for error messages-->
    <p th:if="${message}" th:text="${message}" style="color: green;"></p>

    <p th:if="${error}" th:text="${error}" style="color: red;"></p>

    <!-- Form to submit email for password reset -->
    <form th:action="@{/forgot-password}" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required/>
        <br/>
        <button type="submit">Reset Password</button>
    </form>

    <!-- Link to login page -->
    <a th:href="@{/login}">Back to Login</a>
</body>
</html>
</body>

